/* 
Name: Github ReadMe style for Mou app
Author: hzlzh(hzlzh.dev@gmail.com)
URL: https://github.com/hzlzh/Mou-Theme
*/
@charset "UTF-8";
body, input, select, textarea, button{ font:13px/1.4 Helvetica, arial, freesans, clean, sans-serif; color:#333333; }
body{ background-color:#FFFFFF; color:#333333; background-color:#FFFFFF; border:3px solid #EEEEEE; padding:0 30px 30px; font-size:15px; line-height:1.7; margin:20px auto; max-width:722px;margin-left: 10px; border-radius:3px 3px 3px 3px; }
a{ color:#4183C4; text-decoration:none; }
a:hover{ text-decoration:underline; }
a:focus, a:active{ text-decoration:underline; }
.action{ color:#DD0000; text-decoration:underline; }
.clearfix:before, .clearfix:after{ content:" "; display:table; }
.clearfix:after{ clear:both; }
.danger{ color:#CC0000; }
.mute{ color:#000000; }
.sparkline{ display:none; }
.right{ float:right; }
.left{ float:left; }
.text-right{ text-align:right; }
.text-left{ text-align:left; }
.hidden{ display:none; }
.warning{ background-color:#FFFCCC; font-weight:bold; margin-bottom:0.8em; padding:0.5em; }
.error_box{ background-color:#FFEBE8; border:1px solid #DD3C10; font-weight:bold; padding:1em; }
hr, .rule{ -moz-border-bottom-colors:none; -moz-border-left-colors:none; -moz-border-right-colors:none; -moz-border-top-colors:none; background:none repeat scroll 0% 0% transparent; border-color:-moz-use-text-color -moz-use-text-color #DDDDDD; border-image:none; border-style:none none solid; border-width:medium medium 1px; clear:both; height:0px; margin:15px 0px; overflow:hidden; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{ display:block; }
audio, canvas, video{ display:inline-block; }
audio:not([controls]){ display:none; height:0px; }
html{ font-family:sans-serif; }
a:focus{ outline:thin dotted; }
a:active, a:hover{ outline:0px none; }
h1{ font-size:2em; margin:0.67em 0px; }
abbr[title]{ border-bottom:1px dotted; }
b, strong{ font-weight:bold; }
dfn{ font-style:italic; }
hr{ -moz-box-sizing:content-box; height:0px; }
mark{ background:none repeat scroll 0% 0% #FFFF00; color:#000000; }
code, kbd, pre, samp{ font-family:monospace, serif; font-size:1em; }
q{ quotes:"“" "”" "‘" "’"; }
small{ font-size:80%; }
sub, sup{ font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup{ top:-0.5em; }
sub{ bottom:-0.25em; }
img{ border:0px none; }
figure{ margin:0px; }
fieldset{ border:1px solid #C0C0C0; margin:0px 2px; padding:0.35em 0.625em 0.75em; }
legend{ border:0px none; padding:0px; }
button, input, select, textarea{ font-family:inherit; font-size:100%; margin:0px; }
button, input{ line-height:normal; }
button, select{ text-transform:none; }
button, html input[type="button"], input[type="reset"], input[type="submit"]{ cursor:pointer; }
button[disabled], html input[disabled]{ cursor:default; }
input[type="checkbox"], input[type="radio"]{ padding:0px; }
input[type="search"]{ -moz-box-sizing:content-box; }
button::-moz-focus-inner, input::-moz-focus-inner{ border:0px none; padding:0px; }
textarea{ overflow:auto; vertical-align:top; }
table{ border-collapse:collapse; border-spacing:0px; }
h1, h2, h3, h4, h5, h6{ line-height:1.1; margin-bottom:15px; margin-top:15px; }
h1{ font-size:30px; }
h2{ font-size:21px; }
h3{ font-size:16px; }
h4{ font-size:14px; }
h5{ font-size:12px; }
h6{ font-size:11px; }
small{ font-size:90%; }
blockquote{ margin:0px; }
.lead{ color:#555555; font-size:20px; font-weight:300; margin-bottom:30px; }
ul, ol{ margin-bottom:0px; margin-top:0px; padding:0px; }
dd{ margin-left:0px; }
code, pre{ font-family:Consolas, "Liberation Mono", Courier, monospace; font-size:12px; }
pre{ margin-bottom:0px; margin-top:0px; }
a.absent{ color:#CC0000; }
a.anchor{ bottom:0px; cursor:pointer; display:block; left:0px; margin-left:-30px; padding-left:30px; position:absolute; top:0px; }
h1, h2, h3, h4, h5, h6{ cursor:text; font-weight:bold; line-height:1.7; margin:1em 0px 15px; padding:0px; position:relative; }
h1 .octicon-link, h2 .octicon-link, h3 .octicon-link, h4 .octicon-link, h5 .octicon-link, h6 .octicon-link{ color:#000000; display:none; }
h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor{ line-height:1; margin-left:-22px; padding-left:0px; text-decoration:none; top:15%; }
h1:hover a.anchor .octicon-link, h2:hover a.anchor .octicon-link, h3:hover a.anchor .octicon-link, h4:hover a.anchor .octicon-link, h5:hover a.anchor .octicon-link, h6:hover a.anchor .octicon-link{ display:inline-block; }
h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code{ font-size:inherit; }
h1, h2, h3, h4, h5, h6{ cursor:text; font-weight:bold; line-height:1.7; }
h1{ border-bottom:1px solid #DDDDDD; font-size:2.5em; }
h2{ border-bottom:1px solid #EEEEEE; font-size:2em; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ color:#777777; font-size:1em; }
p, blockquote, ul, ol, dl, table, pre{ margin:15px 0px; }
hr{ background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC") repeat-x scroll 0px 0px transparent; border:0px none; color:#CCCCCC; height:4px; margin:15px 0px; padding:0px; }
li p.first{ display:inline-block; }
ul, ol{ padding-left:30px; }
ul.no-list, ol.no-list{ list-style-type:none; padding:0px; }
ul ul, ul ol, ol ol, ol ul{ margin-bottom:0px; margin-top:0px; }
dl{ padding:0px; }
dl dt{ font-size:14px; font-style:italic; font-weight:bold; margin-top:15px; padding:0px; }
dl dd{ margin-bottom:15px; padding:0px 15px; }
blockquote{ border-left:4px solid #DDDDDD; color:#777777; padding:0px 15px; }
blockquote > :first-child{ margin-top:0px; }
blockquote > :last-child{ margin-bottom:0px; }
table{ display:block; overflow:auto; width:100%; }
table th{ font-weight:bold; }
table th, table td{ border:1px solid #DDDDDD; padding:6px 13px; }
table tr{ background-color:#FFFFFF; border-top:1px solid #CCCCCC; }
table tr:nth-child(2n){ background-color:#F8F8F8; }
img{ -moz-box-sizing:border-box; max-width:100%; }
span.frame{ display:block; overflow:hidden; }
span.frame > span{ border:1px solid #DDDDDD; display:block; float:left; margin:13px 0px 0px; overflow:hidden; padding:7px; width:auto; }
span.frame span img{ display:block; float:left; }
span.frame span span{ clear:both; color:#333333; display:block; padding:5px 0px 0px; }
span.align-center{ clear:both; display:block; overflow:hidden; }
span.align-center > span{ display:block; margin:13px auto 0px; overflow:hidden; text-align:center; }
span.align-center span img{ margin:0px auto; text-align:center; }
span.align-right{ clear:both; display:block; overflow:hidden; }
span.align-right > span{ display:block; margin:13px 0px 0px; overflow:hidden; text-align:right; }
span.align-right span img{ margin:0px; text-align:right; }
span.float-left{ display:block; float:left; margin-right:13px; overflow:hidden; }
span.float-left span{ margin:13px 0px 0px; }
span.float-right{ display:block; float:right; margin-left:13px; overflow:hidden; }
span.float-right > span{ display:block; margin:13px auto 0px; overflow:hidden; text-align:right; }
code, tt{ background-color:#F8F8F8; border-radius:3px 3px 3px 3px; border:1px solid #DDDDDD; margin:0px 2px; padding:0px 5px; }
code{ white-space:nowrap; }
pre > code{ background:none repeat scroll 0% 0% transparent; border:medium none; margin:0px; padding:0px; white-space:pre; }
pre, pre{ width:100%;background-color:#F8F8F8; border-radius:3px 3px 3px 3px; border:1px solid #DDDDDD; font-size:13px; line-height:19px; overflow:auto; padding:6px 10px; }
pre code, pre tt{ background-color:transparent; border:medium none; margin:0px; padding:0px; }
code, pre{ font-family:Consolas, "Liberation Mono", Courier, monospace; font-size:12px; }